Source: ngcp-nth
Section: utils
Priority: extra
Maintainer: Jon Bonilla <jbonilla@sipwise.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.2
Homepage: http://sipwise.com/

Package: ngcp-nth-pro
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ifenslave, vlan, ngrep-sip, screen, strace, vim, tcpdump, perl-doc, iftop, ifrename, rsync, libtemplate-perl, host, mytop, less, irqbalance, lsof
Description: Metapackage for Nice To Have tools in NGCP platforms
 This metapackage installs several nice to have tools in a NGCP sip:provider PRO platform.

Package: ngcp-nth-ce
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ifenslave, vlan, ngrep-sip, screen, strace, vim, tcpdump, perl-doc, iftop, ifrename, rsync, libtemplate-perl, host, mytop, less, irqbalance, lsof
Description: Metapackage for Nice To Have tools in NGCP platforms
 This metapackage installs several nice to have tools in a NGCP sip:provider CE platform.
