*.debhelper
*.log
*.substvars
/.debhelper/
/debhelper-build-stamp
/files
/ngcp-addons-ce/
/ngcp-addons-pro/
/ngcp-cloudpbx-pro/
/ngcp-config-ce/
/ngcp-config-pro/
/ngcp-ngcp-carrier/
/ngcp-ngcp-ce/
/ngcp-ngcp-pro/
/ngcp-services-carrier/
/ngcp-services-ce/
/ngcp-services-pro/
