Source: ngcp-metapackages
Section: utils
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8~)
Standards-Version: 3.9.7
Homepage: http://sipwise.com/

Package: ngcp-config-pro
Architecture: all
Depends: ngcp-cfg-schema,
         ngcp-cfg-validate-pro,
         ngcp-db-schema (>= 3.0.0~),
         ngcp-glusterfs-config,
         ngcp-handbook-pro,
         ngcp-ngcpcfg,
         ngcp-ngcpcfg-ha,
         ngcp-support-access | ngcp-support,
         ngcp-templates-pro,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-config
Conflicts: ngcp-config
Replaces: ngcp-config
Description: Metapackage for NGCP platform configuration system
 This metapackage installs the ngcp configuration system for the
 NGCP sip:provider PRO platform.

Package: ngcp-config-ce
Architecture: all
Depends: ngcp-cfg-schema,
         ngcp-cfg-validate-ce,
         ngcp-db-schema (>= 3.0.0~),
         ngcp-handbook-ce,
         ngcp-ngcpcfg,
         ngcp-support-access | ngcp-support,
         ngcp-templates-ce,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-config
Conflicts: ngcp-config
Replaces: ngcp-config
Description: Metapackage for NGCP platform configuration system
 This metapackage installs the ngcp configuration system for the
 NGCP sip:provider CE platform.

Package: ngcp-config-carrier
Architecture: all
Depends: ngcp-cfg-schema,
         ngcp-cfg-validate-carrier,
         ngcp-db-schema (>= 3.0.0~),
         ngcp-glusterfs-config,
         ngcp-handbook-carrier,
         ngcp-ngcpcfg,
         ngcp-ngcpcfg-carrier,
         ngcp-support-access | ngcp-support,
         ngcp-templates-carrier,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-config
Conflicts: ngcp-config
Replaces: ngcp-config
Description: Metapackage for NGCP platform configuration system
 This metapackage installs the ngcp configuration system for the
 NGCP sip:provider CARRIER platform.

Package: ngcp-cloudpbx-pro
Architecture: all
Depends: ngcp-cloudpbx-devices,
         ngcp-sems-pbx,
         ngcp-templates-pro | ngcp-templates,
         ${misc:Depends}
Provides: ngcp-cloudpbx
Conflicts: ngcp-cloudpbx
Replaces: ngcp-cloudpbx
Description: Metapackage for Sipwise's NGCP CloudPBX platform
 This metapackage installs all the packages needed in a NGCP
 sip:provider CloudPBX PRO platform environment.

Package: ngcp-ngcp-pro
Architecture: all
Depends: ngcp-cloudpbx-pro,
         ngcp-config-pro,
         ngcp-keyring,
         ngcp-nth-pro,
         ngcp-services-pro,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-ngcp
Conflicts: ngcp-ngcp
Replaces: ngcp-ngcp
Description: Metapackage for Sipwise's NGCP platform
 This metapackage installs all the packages needed in a NGCP
 sip:provider PRO platform environment.

Package: ngcp-ngcp-ce
Architecture: all
Depends: ngcp-config-ce,
         ngcp-keyring,
         ngcp-nth-ce,
         ngcp-services-ce,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-ngcp
Conflicts: ngcp-ngcp
Replaces: ngcp-ngcp
Description: Metapackage for Sipwise's NGCP platform
 This metapackage installs all the packages needed in a NGCP
 sip:provider CE platform environment.

Package: ngcp-ngcp-carrier
Architecture: all
Depends: ngcp-cloudpbx-pro,
         ngcp-config-carrier,
         ngcp-keyring,
         ngcp-nth-pro,
         ngcp-services-carrier,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-ngcp
Conflicts: ngcp-ngcp
Replaces: ngcp-ngcp
Description: Metapackage for Sipwise's NGCP platform
 This metapackage installs all the packages needed in a NGCP
 sip:provider CARRIER platform environment.

Package: ngcp-nth-pro
Architecture: all
Depends: apt-transport-https,
         bootlogd,
         debian-goodies,
         dstat,
         etckeeper,
         gdb,
         host,
         ifenslave,
         ifrename,
         iftop,
         iotop,
         ipcalc,
         irqbalance,
         joe,
         less,
         libtemplate-perl,
         locales-all,
         lsb-release,
         lsof,
         mytop,
         ngcp-inventory,
         ngcp-klish-config,
         ngrep-sip,
         perl-doc,
         rsync,
         screen,
         sharutils,
         sngrep,
         snmp,
         strace,
         sysstat,
         tcpdump,
         telnet-ssl,
         tshark,
         vim,
         vlan,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Metapackage for Nice To Have tools in NGCP platforms
 This metapackage installs several nice to have tools in a NGCP
 sip:provider PRO platform.

Package: ngcp-nth-ce
Architecture: all
Depends: apt-transport-https,
         bootlogd,
         debian-goodies,
         dstat,
         etckeeper,
         gdb,
         host,
         ifenslave,
         ifrename,
         iftop,
         iotop,
         ipcalc,
         irqbalance,
         joe,
         less,
         libtemplate-perl,
         locales-all,
         lsb-release,
         lsof,
         mytop,
         ngcp-klish-config,
         ngrep-sip,
         perl-doc,
         rsync,
         screen,
         sharutils,
         sngrep,
         strace,
         sysstat,
         tcpdump,
         telnet-ssl,
         tshark,
         vim,
         vlan,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Metapackage for Nice To Have tools in NGCP platforms
 This metapackage installs several nice to have tools in a NGCP
 sip:provider CE platform.

Package: ngcp-services-pro
Architecture: all
Depends: bsd-mailx | mailx,
         bzip2,
         captagent,
         elasticsearch,
         ethtool,
         exim4,
         glusterfs-client,
         glusterfs-server,
         haproxy,
         heartbeat-2 (>= 2.1.3-7~sipwise2) | heartbeat (>= 1:3.0.5+hg12629-1~),
         kibana,
         ldap-utils,
         linux-headers-amd64,
         linux-image-amd64,
         monit,
         mysql-client,
         mysql-server,
         ngcp-api-tools,
         ngcp-asterisk-voicemail-odbcstorage,
         ngcp-backup-tools,
         ngcp-billing-tools,
         ngcp-bootenv-pro,
         ngcp-cdr-exporter,
         ngcp-check-tools,
         ngcp-cleanup-tools-pro,
         ngcp-comx-fileshare-service,
         ngcp-faxserver-pro,
         ngcp-kamailio,
         ngcp-kamailio-extra-modules,
         ngcp-kamailio-lcrrate-modules,
         ngcp-kamailio-lua-modules,
         ngcp-kamailio-mysql-modules,
         ngcp-kamailio-presence-modules,
         ngcp-kamailio-tcap-modules,
         ngcp-kamailio-tls-modules,
         ngcp-kamailio-utils-modules,
         ngcp-kamailio-websocket-modules,
         ngcp-kamailio-xml-modules,
         ngcp-mediator,
         ngcp-monitoring-tools,
         ngcp-panel,
         ngcp-prompts-pro,
         ngcp-prosody-modules,
         ngcp-provisioning-tools,
         ngcp-pushd,
         ngcp-rate-o-mat,
         ngcp-reminder,
         ngcp-rtcengine-pro,
         ngcp-rtpengine,
         ngcp-sems-app,
         ngcp-sems-ha,
         ngcp-status,
         ngcp-system-tools-pro,
         ngcp-vmnotify,
         ngcp-voisniff-ng,
         nginx-light,
         ntp,
         openjdk-7-jre-headless,
         prosody (>= 0.9.4~),
         python,
         redis-server,
         rsyslog,
         rsyslog-elasticsearch,
         slapd,
         snmpd,
         ssh,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-services
Conflicts: ngcp-services
Replaces: ngcp-services
Description: Metapackage for NGCP platform services
 This metapackage installs the required services in a NGCP
 sip:provider PRO platform.

Package: ngcp-services-ce
Architecture: all
Depends: bsd-mailx | mailx,
         bzip2,
         mysql-client,
         mysql-server,
         ngcp-api-tools,
         ngcp-asterisk-voicemail-odbcstorage,
         ngcp-billing-tools,
         ngcp-cdr-exporter,
         ngcp-check-tools,
         ngcp-cleanup-tools-ce,
         ngcp-kamailio,
         ngcp-kamailio-extra-modules,
         ngcp-kamailio-lcrrate-modules,
         ngcp-kamailio-lua-modules,
         ngcp-kamailio-mysql-modules,
         ngcp-kamailio-presence-modules,
         ngcp-kamailio-tcap-modules,
         ngcp-kamailio-tls-modules,
         ngcp-kamailio-utils-modules,
         ngcp-kamailio-websocket-modules,
         ngcp-kamailio-xml-modules,
         ngcp-mediator,
         ngcp-panel,
         ngcp-prompts-ce,
         ngcp-prosody-modules,
         ngcp-provisioning-tools,
         ngcp-rate-o-mat,
         ngcp-reminder,
         ngcp-rtpengine,
         ngcp-sems,
         ngcp-status,
         ngcp-system-tools-ce,
         ngcp-vmnotify,
         nginx-light,
         ntp,
         prosody (>= 0.9.4~),
         python,
         redis-server,
         rsyslog,
         ssh,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-services
Conflicts: ngcp-services
Replaces: ngcp-services
Description: Metapackage for NGCP platform services
 This metapackage installs the required services in a NGCP
 sip:provider CE platform.

Package: ngcp-services-carrier
Architecture: all
Depends: bsd-mailx | mailx,
         bzip2,
         captagent,
         elasticsearch,
         ethtool,
         exim4,
         glusterfs-client,
         glusterfs-server,
         haproxy,
         heartbeat-2 (>= 2.1.3-7~sipwise2) | heartbeat (>= 1:3.0.5+hg12629-1~),
         kibana,
         ldap-utils,
         linux-headers-amd64,
         linux-image-amd64,
         monit,
         mysql-client,
         mysql-server,
         ngcp-api-tools,
         ngcp-asterisk-voicemail-odbcstorage,
         ngcp-backup-tools,
         ngcp-billing-tools,
         ngcp-bootenv-pro,
         ngcp-cdr-exporter,
         ngcp-check-tools,
         ngcp-cleanup-tools-pro,
         ngcp-comx-fileshare-service,
         ngcp-faxserver-pro,
         ngcp-kamailio,
         ngcp-kamailio-extra-modules,
         ngcp-kamailio-lcrrate-modules,
         ngcp-kamailio-lua-modules,
         ngcp-kamailio-mysql-modules,
         ngcp-kamailio-presence-modules,
         ngcp-kamailio-tcap-modules,
         ngcp-kamailio-tls-modules,
         ngcp-kamailio-utils-modules,
         ngcp-kamailio-websocket-modules,
         ngcp-kamailio-xml-modules,
         ngcp-mediator,
         ngcp-monitoring-tools,
         ngcp-panel,
         ngcp-prompts-pro,
         ngcp-prosody-modules,
         ngcp-provisioning-tools,
         ngcp-pushd,
         ngcp-rate-o-mat,
         ngcp-reminder,
         ngcp-rtcengine-pro,
         ngcp-rtpengine,
         ngcp-sems-app,
         ngcp-sems-ha,
         ngcp-status,
         ngcp-system-tools-pro,
         ngcp-vmnotify,
         ngcp-voisniff-ng,
         nginx-light,
         ntp,
         openjdk-7-jre-headless,
         prosody (>= 0.9.4~),
         python,
         redis-server,
         rsyslog,
         rsyslog-elasticsearch,
         slapd,
         snmpd,
         ssh,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ngcp-services
Conflicts: ngcp-services
Replaces: ngcp-services
Description: Metapackage for NGCP platform services
 This metapackage installs the required services in a NGCP
 sip:provider CARRIER platform.
